

#pagina2 > p {
    width: 75%;
    margin: auto;
    text-align: center;
    font-size: 28px;
    padding: 25px;
}


.header {
    display:flex;
}

#pagina2 {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#pagina2 > img {
    width: 200px;
    height: 150px;
    border-radius: 100%;
    justify-content: center;
    margin: auto;
    box-shadow: -2px -1px 3px 4px rgb(217, 44, 10);
}